[Unit]
Description=Setup Hostname
DefaultDependencies=no
After=local-fs.target

ConditionPathExists=/root/.cache/hostname

[Service]
Type=oneshot
ExecStart=/bin/sh -c 'cat /root/.cache/hostname > /proc/sys/kernel/hostname'
RemainAfterExit=yes

[Install]
WantedBy=sysinit.target
