[Unit]
Description=Setup dropbear keys
Before=dropbear.service

[Service]
Type=oneshot
ExecStart=/lib/amlinux/dropbear-keys
RemainAfterExit=yes
StartLimitInterval=0

[Install]
WantedBy=dropbear.service
